<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-03-17T14:45:39Z</date>
	<key>WorkspacePath</key>
	<string>/Users/zhangwenyi/Desktop/z05631/未命名文件夹/OpenGLGit/OpenGL/004-向量和矩阵，矩阵堆栈/001--图形移动（平移和旋转)(模型视图矩阵计算）/01 OpenGL 环境搭建.xcodeproj</string>
</dict>
</plist>
