<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-03-07T12:34:20Z</date>
	<key>WorkspacePath</key>
	<string>/Users/zhangwenyi/Downloads/05 学员资源/02 胖C源码/001--OpenGL图元绘制(综合)/01 OpenGL 环境搭建/01 OpenGL 环境搭建.xcodeproj</string>
</dict>
</plist>
