<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-03-18T01:31:18Z</date>
	<key>WorkspacePath</key>
	<string>/Users/zhangwenyi/Desktop/z05631/未命名文件夹/OpenGLGit/OpenGL/002--OpenGL图元绘制(综合)/01 OpenGL 环境搭建/01 OpenGL 环境搭建.xcodeproj</string>
</dict>
</plist>
