<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-04-22T08:44:01Z</date>
	<key>WorkspacePath</key>
	<string>/Users/zhangwenyi/Desktop/z05631/未命名文件夹/OpenGLGit/OpenGL/004-向量和矩阵，矩阵堆栈/002--使用矩阵创建几何图形（通过视图计算）(objectFrame+CameraFrame)/01 OpenGL 环境搭建.xcodeproj</string>
</dict>
</plist>
